@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  font-size:100%;
font-family: 'Roboto', sans-serif;
}

.as{
  padding: 24px 24px 22px;
  background:white;
  width:4em;
  height:2em;
}
.in{
 width: 300px;
 height:40px;
}
#ashi{
  background-color: white;

}
#shithani{
  background-color: white;
    margin-bottom: 4em

}
h4,p,b,.1{
text-align: left;
}
bo{
  text-align: right;
}
.in#bac{
  background:aqua
}
#ab{padding: 24px 24px 22px;
background:white;
width:80em;
height:3em;

}
