@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  font-size:100%;
font-family: 'Roboto', sans-serif;
background: #F9F9F9
}

#as{
  padding: 10px 10px 10px;
  background-color:white;
  width:35%;
  margin-bottom: 10px;
  text-align: left;
}
.in{
 margin-left: 7%;
 width: 80%;
 height:40px;
 font-size: 110%;
 padding-left: 2%
}
#ashi{
  background-color: white;
  padding: 10px 10px 10px;
  width:35%;
  text-align: left;
  margin-bottom: 50px
}

.in#bac{
  background:aqua
}
#ab
{padding: 24px 24px 22px;
background:white;
width:100%;
height:1em;

}
#space{
  padding-left: 25%;
  padding-right: 25%
}
#hover1:hover {
  background-color: green;
}

#bac:hover {
  background-color: green;
}
#forget{
  text-decoration: none;
  color: black
}
#read{
  text-decoration: none;
}
